@import url('https://fonts.googleapis.com/css2?family=Caladea&family=IBM+Plex+Serif&family=Roboto+Slab:wght@300&family=Sacramento&family=Young+Serif&display=swap');

/* :root{
    --bodyBgColor: rgb(226, 197, 240);
    --bodyBgColor2: rgb(237 203 255);
    --headerColor: rgb(226 180 247);
    --anchorColor: rgb(79, 5, 109);
    --anchorColorHover: rgb(156 0 245);
    --textColor: #e108b1;
    --imageShadow: rgb(126 45 255);
    --imageShadowHover: rgba(85, 8, 209, 0.767);
} */

:root{
    --bodyBgColor: rgb(231 182 255);
    --bodyBgColor2: rgb(237 203 255);
    --headerColor: rgb(211 163 255);
    --anchorColor: rgb(79, 5, 109);
    --anchorColorHover: rgb(156 0 245);
    --textColor: #e108b1;
    --imageShadow: rgb(126 45 255);
    --imageShadowHover: rgba(85, 8, 209, 0.767);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    color: var(--textColor);
}

section {
    min-height: calc(100vh - 82px);
}

.gap-1 {
    height: 82px;
    background-color: var(--bodyBgColor);
}

.gap-2 {
    height: 82px;
    background-color: var(--bodyBgColor2);
}

.gap-3 {
    height: 82px;
    background-color: var(--bodyBgColor);
}

.gap-4 {
    height: 82px;
    background-color: var(--bodyBgColor2);
}

.gap-5 {
    height: 82px;
    background-color: var(--bodyBgColor);
}

.gap-6 {
    height: 82px;
    background-color: var(--bodyBgColor2);
}

h1 {
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Young Serif', serif;
}

h3 {
    font-size: 2.3rem;
    font-family: 'IBM Plex Serif', serif;
}

p,
span {
    font-family: 'Caladea', serif;
}

a {
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    text-decoration: none;
    color: var(--anchorColor);
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: var(--headerColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>* {
    cursor: default;
    margin: 0px 10px;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.logo h3 {
    color: var(--anchorColor);
}

.logo #mode {
    cursor: pointer;
    font-size: 30px;
    color: var(--textColor);
    transition: all 0.2s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>* {
    cursor: pointer;
    margin: 0px 8px;
}

nav a {
    color: var(--anchorColor);
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

nav .active,
nav a:hover {
    color: var(--anchorColorHover);
}

nav a:active {
    background-color: var(--anchorColorHover);
    color: var(--headerColor);
}

#menu-icon {
    font-size: 3.6rem;
    display: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10vw;
    background-color: var(--bodyBgColor);
}

.home-content {
    padding-left: 5vw;
    width: 45vw;
}

.home-content h3:nth-of-type(1) {

    margin-bottom: 0.5rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
}

.home-content span,
.about-content span,
.services span,
.portfolio span,
.contact span,
.skill span {
    color: var(--anchorColorHover);
}

.home-content p {
    margin-bottom: 1.5rem;
}

.home-content .social-media {
    margin-bottom: 1.5rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--anchorColorHover);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--anchorColorHover);
    text-shadow: 1px 1px var(--anchorColorHover);
    margin: 0.6rem 1rem 0 0;
    transition: all 0.3s ease-in-out;
}

.home-content .social-media a:hover {
    background-color: var(--anchorColorHover);
    color: var(--bodyBgColor);
    box-shadow: 0 0 1rem var(--anchorColorHover);
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--anchorColorHover);
    color: var(--bodyBgColor);
    border-radius: 4rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    box-shadow: 0 0 0.8rem var(--anchorColorHover);
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    box-shadow: none;
}

.home-image,
.about-image {
    height: 37vw;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img,
.about-image img {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-shadow: 0px 0px 30px 7px var(--imageShadow);
    border-width: 0px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    animation: start 1s 1 ease-in-out;
}

.home-image img:hover,
.about-image img:hover {
    box-shadow: 0px 0px 20px 5px var(--imageShadowHover);
    opacity: 40%;
    width: 24vw;
}

@keyframes start {
    0% {
        width: 0vw;
        opacity: 10%;
        box-shadow: 0px 0px 0px 0px var(--imageShadow);
    }

    20% {
        box-shadow: 0px 0px 0px 0px var(--imageShadow);
    }

    50% {
        opacity: 20%;
    }

    70% {
        width: 26vw;
    }

    100% {
        width: 25vw;
        opacity: 100%;
        box-shadow: 0px 0px 30px 7px var(--imageShadow);
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 25px 10vw;
    background-color: var(--bodyBgColor2);
    align-self: center;
}

.about-content {
    padding-right: 5vw;
    width: 45vw;
}

.about-content .heading {
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.5rem;
}

.about-content p {
    margin: 10px 0px 25px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 10vw;
    background-color: var(--bodyBgColor);
    gap: 40px;
}

.skill .skill-container h3{
    margin-bottom: 2rem;
}

.skill .skill-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 6vw;
}

.skill .skill-container > *{
    width: 49%;
}

.skill .skill-container h3{
    text-align: center;
}

.skill .skill-container .skill-left .skill-bar{
    margin-bottom: 2.3rem;
}

.skill .skill-container .skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill .skill-container .skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bodyBgColor2);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill .skill-container .skill-left .skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--anchorColorHover);
    border-radius: 25px;
    box-shadow: 0 0 0.8rem var(--anchorColorHover);
}

.skill .skill-container .skill-left .skill-bar .bar .html{
    width: 81%;
    animation: html 10s ease-in-out infinite;
}

.skill .skill-container .skill-left .skill-bar .bar .css{
    width: 72%;
    animation: css 10s ease-in-out infinite;
}

.skill .skill-container .skill-left .skill-bar .bar .javascript{
    width: 63%;
    animation: javascript 10s ease-in-out infinite;
}

.skill .skill-container .skill-left .skill-bar .bar .c{
    width: 70%;
    animation: c 10s ease-in-out infinite;
}

.skill .skill-container .skill-left .skill-bar .bar .python{
    width: 54%;
    animation: python 10s ease-in-out infinite;
}

@keyframes html {
    0%{
        width: 0%;
    }
    10%{
        width: 81%;
    }
    100%{
        width: 81%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    20%{
        width: 72%;
    }
    100%{
        width: 72%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    15%{
        width: 63%;
    }
    100%{
        width: 63%;
    }
}

@keyframes c {
    0%{
        width: 0%;
    }
    30%{
        width: 70%;
    }
    100%{
        width: 70%;
    }
}

@keyframes python {
    0%{
        width: 0%;
    }
    25%{
        width: 54%;
    }
    100%{
        width: 54%;
    }
}

.skill .skill-container .skill-right .professional{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skill .skill-container .skill-right .professional .box{
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}

.skill .skill-container .skill-right .professional .box .circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.2rem solid var(--anchorColor); */
}

.skill .skill-container .skill-right .professional .box .circle .points{
    width: 2px;
    height: 10px;
    background-color: var(--imageShadowHover);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}

.points .marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow {
    0%{
        background-color: var(--bodyBgColor2);
        box-shadow: none;
    }
    100%{
        background-color: var(--bodyBgColor2);
        box-shadow: 0 0 0.8rem var(--anchorColorHover);
    }
}

.skill .skill-container .skill-right .professional .box .text{
    text-align: center;
    color: var(--anchorColor);
    font-size: 1rem;
}

.skill .skill-container .skill-right .professional .box .text big{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill .skill-container .skill-right .professional .box .text small{
    display: block;
    font-weight: 600;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 25px 10vw;
    background-color: var(--bodyBgColor2);
    align-self: center;
}

.services h2 {
    margin-bottom: 5rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services .services-container .service-box {
    flex: 1 1 25rem;
    background-color: var(--bodyBgColor);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bodyBgColor2);
    transition: all 0.4s ease-in-out;
}

.services .services-container .service-box:hover {
    border-color: var(--anchorColor);
    transform: scale(1.02);
}

.services .services-container .service-box i {
    font-size: 3rem;
    color: var(--anchorColorHover);
}

.services .services-container .service-box p {
    margin: 10px 0px 25px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 25px 10vw;
    background-color: var(--bodyBgColor);
    align-self: center;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio .portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem 5px var(--bodyBgColor2);
    overflow: hidden;
    display: flex;
}

.portfolio .portfolio-container .portfolio-box img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.portfolio .portfolio-container .portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0 0 0 / 48%), var(--anchorColorHover));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: all 0.4s ease-in-out;
}

.portfolio .portfolio-container .portfolio-box:hover .portfolio-layer {
    transform: translateY(0);

}

.portfolio .portfolio-container .portfolio-box .portfolio-layer h4 {
    font-size: 2.5rem;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer p {
    margin: 10px 0px 25px;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--anchorColor);
    border-radius: 50%;
}

.portfolio .portfolio-container .portfolio-box .portfolio-layer a i {
    font-size: 1.2rem;
    color: var(--bodyBgColor2);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 5vw;
    background-color: var(--bodyBgColor2);
    min-height: calc(100vh - 82px - 68px);
}

.contact h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.contact form {
    width: 75vw;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    font-family: 'Caladea', serif;
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--anchorColor);
    background-color: var(--bodyBgColor);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form .btn {
    margin-top: 1rem;
    cursor: pointer;
}

.footer {
    padding: 0px 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bodyBgColor);
    height: 68px;
}

.footer .footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--anchorColorHover);
    border-radius: 0.8rem;
    transition: all 0.4s ease-in-out;
}

.footer .footer-iconTop a i {
    color: var(--bodyBgColor);
    font-size: 1.5rem;
}

.footer .footer-iconTop a:hover {
    box-shadow: 0 0 10px 1px var(--anchorColorHover);
}


/* breakpoints */

@media only screen and (max-width: 1300px) {
    header {
        padding: 1.5rem 3%;
    }

    header h3 {
        font-size: 25px;
    }
}


@media only screen and (max-width: 1275px) {
    html {
        font-size: 75%;
    }

    nav a {
        padding: 5px 10px;
        margin: 0px 5px;
    }

    section {
        padding: 10rem 3% 2rem;
        min-height: calc(100vh - 81.19px);
    }

    .contact {
        height: calc(100vh - 81.19px - 68px);
    }

    footer {
        padding: 2rem 3%;
    }

    .portfolio .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }


}

@media only screen and (max-width: 960px) {
    html {
        font-size: 60%;
    }

    section {
        padding: 10rem 3% 2rem;
        min-height: calc(100vh - 78.78px);
    }

    .contact{
        height: calc(100vh - 78.78px - 68px);
    }

    .gap {
        height: 78.78px;
    }

    #menu-icon {
        display: block;
        font-size: 30px;
    }

    .my-nav {
        display: none;
    }

    .my-nav.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--headerColor);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.rrem 1rem;
    }

    .my-nav a {
        margin: 5px 15px;

    }

    .home,
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .home-content,
    .about-content {
        padding-left: 0vw;
        width: 65vw;
    }

    .home-image,
    .about-image{
        width: 35vw;
        height: 35vw;
    }

    .home-image img,
    .about-image img {
        width: 30vw;
        animation: start2 0.8s ease-in-out 1;
    }

    .home-image img:hover,
    .about-image img:hover {
        box-shadow: 0px 0px 20px 5px var(--imageShadowHover);
        opacity: 40%;
        width: 28vw;
    }

    .skill .skill-container{
        flex-direction: column;
        align-items: center;
    }
    .skill .skill-container > *{
        width: 90%;
    }

    @keyframes start2 {
        0% {
            width: 0vw;
            opacity: 10%;
            box-shadow: 0px 0px 0px 0px var(--imageShadow);
        }
    
        20% {
            box-shadow: 0px 0px 0px 0px var(--imageShadow);
        }
    
        50% {
            opacity: 20%;
        }
    
        70% {
            width: 32VW;
        }
    
        100% {
            width: 30VW;
            opacity: 100%;
            box-shadow: 0px 0px 30px 7px var(--imageShadow);
        }
    }

    .footer {
        padding: 0px 15vw;
    }

}

@media only screen and (max-width: 625px){
    .home-content, .about-content {
        width: 75vw;
    }

    .home-image,
    .about-image{
        width: 50vw;
        height: 50vw;
    }

    .home-image img,
    .about-image img {
        width: 45vw;
        animation: start3 0.8s ease-in-out 1;
    }

    .home-image img:hover,
    .about-image img:hover {
        box-shadow: 0px 0px 20px 5px var(--imageShadowHover);
        opacity: 40%;
        width: 43vw;
    }

    @keyframes start3 {
        0% {
            width: 0vw;
            opacity: 10%;
            box-shadow: 0px 0px 0px 0px var(--imageShadow);
        }
    
        20% {
            box-shadow: 0px 0px 0px 0px var(--imageShadow);
        }
    
        50% {
            opacity: 20%;
        }
    
        70% {
            width: 47VW;
        }
    
        100% {
            width: 45VW;
            opacity: 100%;
            box-shadow: 0px 0px 30px 7px var(--imageShadow);
        }
    }

    .portfolio .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 15%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}
